***Step-1 Importing Libraries and API Integeration***

***Step-2 Data Extracting and Coverting DataFrame for Category, Competition, Complexes, Venues, Competitor and Competitor Ranking***

In [1]:
import requests
import json
import pandas as pd
import sqlite3

# Step 1: Fetching Data from the Competitions API
url_competitions = "https://api.sportradar.com/tennis/trial/v3/en/competitions.json?api_key=xRFvyVa4aCxkKtS0938LmgHfWGhCR7J500ggKWmS"
headers = {"accept": "application/json"}
response_competitions = requests.get(url_competitions, headers=headers)
if response_competitions.status_code == 200:
    data_competitions = response_competitions.json()
else:
    print("Failed to fetch competitions data")
    data_competitions = {}

# Parse JSON and Extract Relevant Data for Competitions
competitions = data_competitions.get('competitions', [])
flat_data_competitions = []
for competition in competitions:
    flat_data_competitions.append({
        'id': competition.get('id'),
        'name': competition.get('name'),
        'gender': competition.get('gender'),
        'type': competition.get('type'),
        'category_id': competition.get('category', {}).get('id'),
        'category_name': competition.get('category', {}).get('name')
    })

# Converting to DataFrames
competitions_df = pd.DataFrame(flat_data_competitions)

# Step 2: Fetching Data from the Complexes API
url_complexes = "https://api.sportradar.com/tennis/trial/v3/en/complexes.json?api_key=xRFvyVa4aCxkKtS0938LmgHfWGhCR7J500ggKWmS"
response_complexes = requests.get(url_complexes, headers=headers)
if response_complexes.status_code == 200:
    data_complexes = response_complexes.json()
else:
    print("Failed to fetch complexes data")
    data_complexes = {}

# Parse JSON and Extract Relevant Data for Complexes
complexes = data_complexes.get('complexes', [])
flat_data_complexes = []
for complex_ in complexes:
    for venue in complex_.get('venues', []):
        flat_data_complexes.append({
            'complex_id': complex_.get('id'),
            'complex_name': complex_.get('name'),
            'venue_id': venue.get('id'),
            'venue_name': venue.get('name'),
            'city_name': venue.get('city'),
            'country_name': venue.get('country'),
            'country_code': venue.get('country_code'),
            'timezone': venue.get('timezone')
        })

# Converting to DataFrames
complexes_df = pd.DataFrame(flat_data_complexes)
venues_df = pd.DataFrame(flat_data_complexes)

# Step 3: Fetching Data from the Competitor Rankings API
url_rankings = "https://api.sportradar.com/tennis/trial/v3/en/double_competitors_rankings.json?api_key=xRFvyVa4aCxkKtS0938LmgHfWGhCR7J500ggKWmS"
response_rankings = requests.get(url_rankings, headers=headers)
if response_rankings.status_code == 200:
    data_rankings = response_rankings.json()
else:
    print("Failed to fetch rankings data")
    data_rankings = {}

# Extract and Transform Relevant Data for Competitor Rankings
rankings = data_rankings.get('rankings', [])
flat_data_rankings = []
for ranking in rankings:
    for competitor_ranking in ranking.get('competitor_rankings', []):
        competitor = competitor_ranking.get('competitor', {})
        flat_data_rankings.append({
            'type_id': ranking.get('type_id'),
            'name': ranking.get('name'),
            'year': ranking.get('year'),
            'week': ranking.get('week'),
            'gender': ranking.get('gender'),
            'rank': competitor_ranking.get('rank'),
            'movement': competitor_ranking.get('movement'),
            'points': competitor_ranking.get('points'),
            'competitions_played': competitor_ranking.get('competitions_played'),
            'competitor_id': competitor.get('id'),
            'competitor_name': competitor.get('name'),
            'country_name': competitor.get('country'),
            'country_code': competitor.get('country_code'),
            'abbreviation': competitor.get('abbreviation')
        })

# Converting to DataFrames
competitors_df = pd.DataFrame(flat_data_rankings)
competitor_rankings_df = pd.DataFrame(flat_data_rankings)

# Step 4: Store Data in a Relational Database
# Create a SQLite database 
db_file_path = r"D:\MTDM37\MTDM37\data\sports.db"
conn = sqlite3.connect(db_file_path)

# Drop existing tables if they exist
tables = ['Competitions', 'Complexes', 'Venues', 'Competitors', 'Competitor_Rankings']
cursor = conn.cursor()
for table in tables:
    cursor.execute(f"DROP TABLE IF EXISTS {table}")
conn.commit()

# Use if_exists='replace' to overwrite existing tables
competitions_df.to_sql('Competitions', conn, if_exists='replace', index=False)
complexes_df.to_sql('Complexes', conn, if_exists='replace', index=False)
venues_df.to_sql('Venues', conn, if_exists='replace', index=False)
competitors_df.to_sql('Competitors', conn, if_exists='replace', index=False)
competitor_rankings_df.to_sql('Competitor_Rankings', conn, if_exists='replace', index=False)

# Verify the data was stored correctly
print("Data stored in the database:")
print(pd.read_sql_query("SELECT * FROM Competitions", conn))
print(pd.read_sql_query("SELECT * FROM Complexes", conn))
print(pd.read_sql_query("SELECT * FROM Venues", conn))
print(pd.read_sql_query("SELECT * FROM Competitors", conn))
print(pd.read_sql_query("SELECT * FROM Competitor_Rankings", conn))

# Close the connection
conn.close()

Data stored in the database:
                        id                               name gender     type  \
0       sr:competition:620                         Hopman Cup  mixed    mixed
1       sr:competition:660                     World Team Cup    men    mixed
2       sr:competition:990         ATP Challenger Tour Finals    men  singles
3      sr:competition:1207  Championship International Series  women  singles
4      sr:competition:2100                          Davis Cup    men    mixed
...                    ...                                ...    ...      ...
5877  sr:competition:45913                  UTR Bucuresti W01  women  singles
5878  sr:competition:45915              UTR Rungsted Kyst W01  women  singles
5879  sr:competition:45917                  UTR Bucuresti W01  women  singles
5880  sr:competition:45935      ATP Brussels, Belgium Singles    men  singles
5881  sr:competition:45937      ATP Brussels, Belgium Doubles    men  doubles

           category_id category_name
0      sr:category:181    Hopman Cup
1        sr:category:3           ATP
2       sr:category:72    Challenger
3        sr:category:6           WTA
4       sr:category:76     Davis Cup
...                ...           ...
5877  sr:category:2517     UTR Women
5878  sr:category:2517     UTR Women
5879  sr:category:2517     UTR Women
5880     sr:category:3           ATP
5881     sr:category:3           ATP

[5882 rows x 6 columns]
            complex_id           complex_name        venue_id  \
0       sr:complex:705               Nacional  sr:venue:70045
1      sr:complex:1078  Estadio de la Cartuja  sr:venue:74856
2      sr:complex:1078  Estadio de la Cartuja  sr:venue:74858
3      sr:complex:1495            Sibur Arena   sr:venue:1496
4      sr:complex:1495            Sibur Arena   sr:venue:1500
...                ...                    ...             ...
3207  sr:complex:81717            Bloomington  sr:venue:81721
3208  sr:complex:81717            Bloomington  sr:venue:81723
3209  sr:complex:81717            Bloomington  sr:venue:81725
3210  sr:complex:81751  Kallang Tennis Centre  sr:venue:81765
3211  sr:complex:81751  Kallang Tennis Centre  sr:venue:81767

                 venue_name city_name country_name country_code  \
0            Cancha Central      None         None          CHL
1              Centre Court      None         None          ESP
2                 Court One      None         None          ESP
3                   COURT 1      None         None          RUS
4              CENTER COURT      None         None          RUS
...                     ...       ...          ...          ...
3207  Bloomington - Court 7      None         None          USA
3208  Bloomington - Court 6      None         None          USA
3209  Bloomington - Court 5      None         None          USA
3210           Center Court      None         None          SGP
3211                Court 1      None         None          SGP

              timezone
0     America/Santiago
1        Europe/Madrid
2        Europe/Madrid
3        Europe/Moscow
4        Europe/Moscow
...                ...
3207  America/New_York
3208  America/New_York
3209  America/New_York
3210    Asia/Singapore
3211    Asia/Singapore

[3212 rows x 8 columns]
            complex_id           complex_name        venue_id  \
0       sr:complex:705               Nacional  sr:venue:70045
1      sr:complex:1078  Estadio de la Cartuja  sr:venue:74856
2      sr:complex:1078  Estadio de la Cartuja  sr:venue:74858
3      sr:complex:1495            Sibur Arena   sr:venue:1496
4      sr:complex:1495            Sibur Arena   sr:venue:1500
...                ...                    ...             ...
3207  sr:complex:81717            Bloomington  sr:venue:81721
3208  sr:complex:81717            Bloomington  sr:venue:81723
3209  sr:complex:81717            Bloomington  sr:venue:81725
3210  sr:complex:81751  Kallang Tennis Centre  sr:venue:81765
3211  sr:complex:81751  Kallang Tennis Centre  sr:venue:81767

                 venue_name city_name country_name country_code  \
0            Cancha Central      None         None          CHL
1              Centre Court      None         None          ESP
2                 Court One      None         None          ESP
3                   COURT 1      None         None          RUS
4              CENTER COURT      None         None          RUS
...                     ...       ...          ...          ...
3207  Bloomington - Court 7      None         None          USA
3208  Bloomington - Court 6      None         None          USA
3209  Bloomington - Court 5      None         None          USA
3210           Center Court      None         None          SGP
3211                Court 1      None         None          SGP

              timezone
0     America/Santiago
1        Europe/Madrid
2        Europe/Madrid
3        Europe/Moscow
4        Europe/Moscow
...                ...
3207  America/New_York
3208  America/New_York
3209  America/New_York
3210    Asia/Singapore
3211    Asia/Singapore

[3212 rows x 8 columns]
     type_id name  year  week gender  rank  movement  points  \
0          2  ATP  2025     6    men     1         0    7530
1          2  ATP  2025     6    men     1         0    7530
2          2  ATP  2025     6    men     3         0    7075
3          2  ATP  2025     6    men     4         0    7055
4          2  ATP  2025     6    men     5         0    6475
..       ...  ...   ...   ...    ...   ...       ...     ...
995        2  WTA  2025     6  women   496         1     124
996        2  WTA  2025     6  women   497       -38     124
997        2  WTA  2025     6  women   498         0     124
998        2  WTA  2025     6  women   499         0     124
999        2  WTA  2025     6  women   500         4     123

     competitions_played         competitor_id            competitor_name  \
0                     22   sr:competitor:49363                Pavic, Mate
1                     22   sr:competitor:51836  Arevalo-Gonzalez, Marcelo
2                     30  sr:competitor:637970              Patten, Henry
3                     28   sr:competitor:14898          Heliovaara, Harri
4                     21   sr:competitor:87690           Thompson, Jordan
..                   ...                   ...                        ...
995                    4   sr:competitor:32862        Diatchenko, Vitalia
996                   14  sr:competitor:230108           McGiffin, Tenika
997                   15  sr:competitor:720627            Senic, Natalija
998                   21  sr:competitor:360054               Allen, Kolie
999                    5   sr:competitor:90814             Teichmann, Jil

      country_name country_code abbreviation
0          Croatia          HRV          PAV
1      El Salvador          SLV          ARE
2    Great Britain          GBR          PAT
3          Finland          FIN          HEL
4        Australia          AUS          THO
..             ...          ...          ...
995        Neutral         None          DIA
996      Australia          AUS          MCG
997         Serbia          SRB          SEN
998            USA          USA          ALL
999    Switzerland          CHE          TEI

[1000 rows x 14 columns]
     type_id name  year  week gender  rank  movement  points  \
0          2  ATP  2025     6    men     1         0    7530
1          2  ATP  2025     6    men     1         0    7530
2          2  ATP  2025     6    men     3         0    7075
3          2  ATP  2025     6    men     4         0    7055
4          2  ATP  2025     6    men     5         0    6475
..       ...  ...   ...   ...    ...   ...       ...     ...
995        2  WTA  2025     6  women   496         1     124
996        2  WTA  2025     6  women   497       -38     124
997        2  WTA  2025     6  women   498         0     124
998        2  WTA  2025     6  women   499         0     124
999        2  WTA  2025     6  women   500         4     123

     competitions_played         competitor_id            competitor_name  \
0                     22   sr:competitor:49363                Pavic, Mate
1                     22   sr:competitor:51836  Arevalo-Gonzalez, Marcelo
2                     30  sr:competitor:637970              Patten, Henry
3                     28   sr:competitor:14898          Heliovaara, Harri
4                     21   sr:competitor:87690           Thompson, Jordan
..                   ...                   ...                        ...
995                    4   sr:competitor:32862        Diatchenko, Vitalia
996                   14  sr:competitor:230108           McGiffin, Tenika
997                   15  sr:competitor:720627            Senic, Natalija
998                   21  sr:competitor:360054               Allen, Kolie
999                    5   sr:competitor:90814             Teichmann, Jil

      country_name country_code abbreviation
0          Croatia          HRV          PAV
1      El Salvador          SLV          ARE
2    Great Britain          GBR          PAT
3          Finland          FIN          HEL
4        Australia          AUS          THO
..             ...          ...          ...
995        Neutral         None          DIA
996      Australia          AUS          MCG
997         Serbia          SRB          SEN
998            USA          USA          ALL
999    Switzerland          CHE          TEI

[1000 rows x 14 columns]

***Step-3 Store Data in a Relational Database***

In [2]:
import sqlite3
import pandas as pd

# Create a SQLite database 
db_file_path = r"D:\MTDM37\MTDM37\data\sports.db"
conn = sqlite3.connect(db_file_path)

# Drop existing tables if they exist
tables = ['Competitions', 'Complexes', 'Venues', 'Competitors', 'Competitor_Rankings']
cursor = conn.cursor()
for table in tables:
    cursor.execute(f"DROP TABLE IF EXISTS {table}")
conn.commit()

# Use if_exists='replace' to overwrite existing tables
competitions_df.to_sql('Competitions', conn, if_exists='replace', index=False)
complexes_df.to_sql('Complexes', conn, if_exists='replace', index=False)
venues_df.to_sql('Venues', conn, if_exists='replace', index=False)
competitors_df.to_sql('Competitors', conn, if_exists='replace', index=False)
competitor_rankings_df.to_sql('Competitor_Rankings', conn, if_exists='replace', index=False)

# Verify the data was stored correctly
print("Data stored in the database:")
print(pd.read_sql_query("SELECT * FROM Competitions", conn))
print(pd.read_sql_query("SELECT * FROM Complexes", conn))
print(pd.read_sql_query("SELECT * FROM Venues", conn))
print(pd.read_sql_query("SELECT * FROM Competitors", conn))
print(pd.read_sql_query("SELECT * FROM Competitor_Rankings", conn))

# Close the connection
conn.close()

Data stored in the database:
                        id                               name gender     type  \
0       sr:competition:620                         Hopman Cup  mixed    mixed
1       sr:competition:660                     World Team Cup    men    mixed
2       sr:competition:990         ATP Challenger Tour Finals    men  singles
3      sr:competition:1207  Championship International Series  women  singles
4      sr:competition:2100                          Davis Cup    men    mixed
...                    ...                                ...    ...      ...
5877  sr:competition:45913                  UTR Bucuresti W01  women  singles
5878  sr:competition:45915              UTR Rungsted Kyst W01  women  singles
5879  sr:competition:45917                  UTR Bucuresti W01  women  singles
5880  sr:competition:45935      ATP Brussels, Belgium Singles    men  singles
5881  sr:competition:45937      ATP Brussels, Belgium Doubles    men  doubles

           category_id category_name
0      sr:category:181    Hopman Cup
1        sr:category:3           ATP
2       sr:category:72    Challenger
3        sr:category:6           WTA
4       sr:category:76     Davis Cup
...                ...           ...
5877  sr:category:2517     UTR Women
5878  sr:category:2517     UTR Women
5879  sr:category:2517     UTR Women
5880     sr:category:3           ATP
5881     sr:category:3           ATP

[5882 rows x 6 columns]
            complex_id           complex_name        venue_id  \
0       sr:complex:705               Nacional  sr:venue:70045
1      sr:complex:1078  Estadio de la Cartuja  sr:venue:74856
2      sr:complex:1078  Estadio de la Cartuja  sr:venue:74858
3      sr:complex:1495            Sibur Arena   sr:venue:1496
4      sr:complex:1495            Sibur Arena   sr:venue:1500
...                ...                    ...             ...
3207  sr:complex:81717            Bloomington  sr:venue:81721
3208  sr:complex:81717            Bloomington  sr:venue:81723
3209  sr:complex:81717            Bloomington  sr:venue:81725
3210  sr:complex:81751  Kallang Tennis Centre  sr:venue:81765
3211  sr:complex:81751  Kallang Tennis Centre  sr:venue:81767

                 venue_name city_name country_name country_code  \
0            Cancha Central      None         None          CHL
1              Centre Court      None         None          ESP
2                 Court One      None         None          ESP
3                   COURT 1      None         None          RUS
4              CENTER COURT      None         None          RUS
...                     ...       ...          ...          ...
3207  Bloomington - Court 7      None         None          USA
3208  Bloomington - Court 6      None         None          USA
3209  Bloomington - Court 5      None         None          USA
3210           Center Court      None         None          SGP
3211                Court 1      None         None          SGP

              timezone
0     America/Santiago
1        Europe/Madrid
2        Europe/Madrid
3        Europe/Moscow
4        Europe/Moscow
...                ...
3207  America/New_York
3208  America/New_York
3209  America/New_York
3210    Asia/Singapore
3211    Asia/Singapore

[3212 rows x 8 columns]
            complex_id           complex_name        venue_id  \
0       sr:complex:705               Nacional  sr:venue:70045
1      sr:complex:1078  Estadio de la Cartuja  sr:venue:74856
2      sr:complex:1078  Estadio de la Cartuja  sr:venue:74858
3      sr:complex:1495            Sibur Arena   sr:venue:1496
4      sr:complex:1495            Sibur Arena   sr:venue:1500
...                ...                    ...             ...
3207  sr:complex:81717            Bloomington  sr:venue:81721
3208  sr:complex:81717            Bloomington  sr:venue:81723
3209  sr:complex:81717            Bloomington  sr:venue:81725
3210  sr:complex:81751  Kallang Tennis Centre  sr:venue:81765
3211  sr:complex:81751  Kallang Tennis Centre  sr:venue:81767

                 venue_name city_name country_name country_code  \
0            Cancha Central      None         None          CHL
1              Centre Court      None         None          ESP
2                 Court One      None         None          ESP
3                   COURT 1      None         None          RUS
4              CENTER COURT      None         None          RUS
...                     ...       ...          ...          ...
3207  Bloomington - Court 7      None         None          USA
3208  Bloomington - Court 6      None         None          USA
3209  Bloomington - Court 5      None         None          USA
3210           Center Court      None         None          SGP
3211                Court 1      None         None          SGP

              timezone
0     America/Santiago
1        Europe/Madrid
2        Europe/Madrid
3        Europe/Moscow
4        Europe/Moscow
...                ...
3207  America/New_York
3208  America/New_York
3209  America/New_York
3210    Asia/Singapore
3211    Asia/Singapore

[3212 rows x 8 columns]
     type_id name  year  week gender  rank  movement  points  \
0          2  ATP  2025     6    men     1         0    7530
1          2  ATP  2025     6    men     1         0    7530
2          2  ATP  2025     6    men     3         0    7075
3          2  ATP  2025     6    men     4         0    7055
4          2  ATP  2025     6    men     5         0    6475
..       ...  ...   ...   ...    ...   ...       ...     ...
995        2  WTA  2025     6  women   496         1     124
996        2  WTA  2025     6  women   497       -38     124
997        2  WTA  2025     6  women   498         0     124
998        2  WTA  2025     6  women   499         0     124
999        2  WTA  2025     6  women   500         4     123

     competitions_played         competitor_id            competitor_name  \
0                     22   sr:competitor:49363                Pavic, Mate
1                     22   sr:competitor:51836  Arevalo-Gonzalez, Marcelo
2                     30  sr:competitor:637970              Patten, Henry
3                     28   sr:competitor:14898          Heliovaara, Harri
4                     21   sr:competitor:87690           Thompson, Jordan
..                   ...                   ...                        ...
995                    4   sr:competitor:32862        Diatchenko, Vitalia
996                   14  sr:competitor:230108           McGiffin, Tenika
997                   15  sr:competitor:720627            Senic, Natalija
998                   21  sr:competitor:360054               Allen, Kolie
999                    5   sr:competitor:90814             Teichmann, Jil

      country_name country_code abbreviation
0          Croatia          HRV          PAV
1      El Salvador          SLV          ARE
2    Great Britain          GBR          PAT
3          Finland          FIN          HEL
4        Australia          AUS          THO
..             ...          ...          ...
995        Neutral         None          DIA
996      Australia          AUS          MCG
997         Serbia          SRB          SEN
998            USA          USA          ALL
999    Switzerland          CHE          TEI

[1000 rows x 14 columns]
     type_id name  year  week gender  rank  movement  points  \
0          2  ATP  2025     6    men     1         0    7530
1          2  ATP  2025     6    men     1         0    7530
2          2  ATP  2025     6    men     3         0    7075
3          2  ATP  2025     6    men     4         0    7055
4          2  ATP  2025     6    men     5         0    6475
..       ...  ...   ...   ...    ...   ...       ...     ...
995        2  WTA  2025     6  women   496         1     124
996        2  WTA  2025     6  women   497       -38     124
997        2  WTA  2025     6  women   498         0     124
998        2  WTA  2025     6  women   499         0     124
999        2  WTA  2025     6  women   500         4     123

     competitions_played         competitor_id            competitor_name  \
0                     22   sr:competitor:49363                Pavic, Mate
1                     22   sr:competitor:51836  Arevalo-Gonzalez, Marcelo
2                     30  sr:competitor:637970              Patten, Henry
3                     28   sr:competitor:14898          Heliovaara, Harri
4                     21   sr:competitor:87690           Thompson, Jordan
..                   ...                   ...                        ...
995                    4   sr:competitor:32862        Diatchenko, Vitalia
996                   14  sr:competitor:230108           McGiffin, Tenika
997                   15  sr:competitor:720627            Senic, Natalija
998                   21  sr:competitor:360054               Allen, Kolie
999                    5   sr:competitor:90814             Teichmann, Jil

      country_name country_code abbreviation
0          Croatia          HRV          PAV
1      El Salvador          SLV          ARE
2    Great Britain          GBR          PAT
3          Finland          FIN          HEL
4        Australia          AUS          THO
..             ...          ...          ...
995        Neutral         None          DIA
996      Australia          AUS          MCG
997         Serbia          SRB          SEN
998            USA          USA          ALL
999    Switzerland          CHE          TEI

[1000 rows x 14 columns]

***Save each DataFrame to a CSV file***

In [3]:
import pandas as pd
import sqlite3
import os

# Connect to SQLite database and read the data into DataFrames
db_file_path = r"D:\MTDM37\MTDM37\data\sports.db"
conn = sqlite3.connect(db_file_path)

categories_df = pd.read_sql_query("SELECT * FROM Categories", conn)
competitions_df = pd.read_sql_query("SELECT * FROM competitions", conn)
complexes_df = pd.read_sql_query("SELECT * FROM complexes", conn)
venues_df = pd.read_sql_query("SELECT * FROM venues", conn)
competitors_df = pd.read_sql_query("SELECT * FROM Competitors", conn)
competitor_rankings_df = pd.read_sql_query("SELECT * FROM Competitor_Rankings", conn)

# Define the directory where CSV files will be saved
output_dir = r"D:\MTDM37\MTDM37\notebooks\Extracted CSV File"

# Ensure the directory exists
os.makedirs(output_dir, exist_ok=True)

# Save DataFrames to CSV files in the specified directory
categories_df.to_csv(os.path.join(output_dir, 'categories.csv'), index=False)
competitions_df.to_csv(os.path.join(output_dir, 'competitions.csv'), index=False)
complexes_df.to_csv(os.path.join(output_dir, 'complexes.csv'), index=False)
venues_df.to_csv(os.path.join(output_dir, 'venues.csv'), index=False)
competitors_df.to_csv(os.path.join(output_dir, 'competitors.csv'), index=False)
competitor_rankings_df.to_csv(os.path.join(output_dir, 'competitor_rankings.csv'), index=False)

# Close the connection
conn.close()

print("CSV files created successfully in the specified folder.")

CSV files created successfully in the specified folder.

***Read the CSV file and the database table into DataFrames and Compare the two DataFrames***

In [4]:
import pandas as pd
import sqlite3

# Function to check if a CSV file is already saved in the database
def check_csv_in_database(csv_file, table_name):
    # Read the CSV file into a DataFrame
    csv_df = pd.read_csv(csv_file)

    # Connect to SQLite database
    conn = sqlite3.connect('D:\\MTDM37\\MTDM37\\data\\sports.db')

    # Read the corresponding table from the database into a DataFrame
    db_df = pd.read_sql_query(f"SELECT * FROM {table_name}", conn)

    # Close the connection
    conn.close()

    # Check if the DataFrames are identical
    return csv_df.equals(db_df)

# List of CSV files and corresponding table names
csv_files = [
    'D:\\MTDM37\\MTDM37\\notebooks\\Extracted CSV File\\categories.csv', 
    'D:\\MTDM37\\MTDM37\\notebooks\\Extracted CSV File\\competitions.csv', 
    'D:\\MTDM37\\MTDM37\\notebooks\\Extracted CSV File\\complexes.csv', 
    'D:\\MTDM37\\MTDM37\\notebooks\\Extracted CSV File\\venues.csv', 
    'D:\\MTDM37\\MTDM37\\notebooks\\Extracted CSV File\\competitors.csv', 
    'D:\\MTDM37\\MTDM37\\notebooks\\Extracted CSV File\\competitor_rankings.csv'
]
table_names = ['Categories', 'Competitions', 'Complexes', 'Venues', 'Competitors', 'Competitor_Rankings']

# Check each CSV file against the corresponding table in the database
for csv_file, table_name in zip(csv_files, table_names):
    is_saved = check_csv_in_database(csv_file, table_name)
    if is_saved:
        print(f"The CSV file '{csv_file}' has already been saved in the database.")
    else:
        print(f"The CSV file '{csv_file}' has NOT been saved in the database.")

The CSV file 'D:\MTDM37\MTDM37\notebooks\Extracted CSV File\categories.csv' has already been saved in the database.
The CSV file 'D:\MTDM37\MTDM37\notebooks\Extracted CSV File\competitions.csv' has already been saved in the database.
The CSV file 'D:\MTDM37\MTDM37\notebooks\Extracted CSV File\complexes.csv' has NOT been saved in the database.
The CSV file 'D:\MTDM37\MTDM37\notebooks\Extracted CSV File\venues.csv' has NOT been saved in the database.
The CSV file 'D:\MTDM37\MTDM37\notebooks\Extracted CSV File\competitors.csv' has already been saved in the database.
The CSV file 'D:\MTDM37\MTDM37\notebooks\Extracted CSV File\competitor_rankings.csv' has already been saved in the database.

***Check if the Database File Exists***

In [5]:
import os

db_path = r"D:\MTDM37\MTDM37\data\sports.db"
if os.path.exists(db_path):
    print(f"The database file '{db_path}' exists.")
else:
    print(f"The database file '{db_path}' does NOT exist.")

The database file 'D:\MTDM37\MTDM37\data\sports.db' exists.

***Verify Table Creation***

In [6]:
import sqlite3
import pandas as pd

# Connect to SQLite database
db_file_path = r"D:\MTDM37\MTDM37\data\sports.db"
conn = sqlite3.connect(db_file_path)

# Query to list all tables
query = "SELECT name FROM sqlite_master WHERE type='table';"
tables = pd.read_sql_query(query, conn)

print("Tables in the database:")
print(tables)

# List each table's columns
table_names = tables['name'].tolist()
for table in table_names:
    query = f"PRAGMA table_info({table});"
    columns = pd.read_sql_query(query, conn)
    print(f"\nColumns in '{table}' table:")
    print(columns)

# Close the connection
conn.close()

Tables in the database:
                  name
0           Categories
1         Competitions
2            Complexes
3               Venues
4          Competitors
5  Competitor_Rankings

Columns in 'Categories' table:
   cid           name  type  notnull dflt_value  pk
0    0             id  TEXT        0       None   0
1    1           name  TEXT        0       None   0
2    2         gender  TEXT        0       None   0
3    3           type  TEXT        0       None   0
4    4    category_id  TEXT        0       None   0
5    5  category_name  TEXT        0       None   0

Columns in 'Competitions' table:
   cid           name  type  notnull dflt_value  pk
0    0             id  TEXT        0       None   0
1    1           name  TEXT        0       None   0
2    2         gender  TEXT        0       None   0
3    3           type  TEXT        0       None   0
4    4    category_id  TEXT        0       None   0
5    5  category_name  TEXT        0       None   0

Columns in 'Complexes' table:
   cid          name  type  notnull dflt_value  pk
0    0    complex_id  TEXT        0       None   0
1    1  complex_name  TEXT        0       None   0
2    2      venue_id  TEXT        0       None   0
3    3    venue_name  TEXT        0       None   0
4    4     city_name  TEXT        0       None   0
5    5  country_name  TEXT        0       None   0
6    6  country_code  TEXT        0       None   0
7    7      timezone  TEXT        0       None   0

Columns in 'Venues' table:
   cid          name  type  notnull dflt_value  pk
0    0    complex_id  TEXT        0       None   0
1    1  complex_name  TEXT        0       None   0
2    2      venue_id  TEXT        0       None   0
3    3    venue_name  TEXT        0       None   0
4    4     city_name  TEXT        0       None   0
5    5  country_name  TEXT        0       None   0
6    6  country_code  TEXT        0       None   0
7    7      timezone  TEXT        0       None   0

Columns in 'Competitors' table:
    cid                 name     type  notnull dflt_value  pk
0     0              type_id  INTEGER        0       None   0
1     1                 name     TEXT        0       None   0
2     2                 year  INTEGER        0       None   0
3     3                 week  INTEGER        0       None   0
4     4               gender     TEXT        0       None   0
5     5                 rank  INTEGER        0       None   0
6     6             movement  INTEGER        0       None   0
7     7               points  INTEGER        0       None   0
8     8  competitions_played  INTEGER        0       None   0
9     9        competitor_id     TEXT        0       None   0
10   10      competitor_name     TEXT        0       None   0
11   11         country_name     TEXT        0       None   0
12   12         country_code     TEXT        0       None   0
13   13         abbreviation     TEXT        0       None   0

Columns in 'Competitor_Rankings' table:
    cid                 name     type  notnull dflt_value  pk
0     0              type_id  INTEGER        0       None   0
1     1                 name     TEXT        0       None   0
2     2                 year  INTEGER        0       None   0
3     3                 week  INTEGER        0       None   0
4     4               gender     TEXT        0       None   0
5     5                 rank  INTEGER        0       None   0
6     6             movement  INTEGER        0       None   0
7     7               points  INTEGER        0       None   0
8     8  competitions_played  INTEGER        0       None   0
9     9        competitor_id     TEXT        0       None   0
10   10      competitor_name     TEXT        0       None   0
11   11         country_name     TEXT        0       None   0
12   12         country_code     TEXT        0       None   0
13   13         abbreviation     TEXT        0       None   0

***Verify Data in Each Table***

In [7]:
import sqlite3
import pandas as pd

# Connect to SQLite database
db_file_path = r"D:\MTDM37\MTDM37\data\sports.db"
conn = sqlite3.connect(db_file_path)

# Function to display sample data from each table
def display_table_sample(table_name):
    query = f"SELECT * FROM {table_name} LIMIT 5;"
    df = pd.read_sql_query(query, conn)
    print(f"\nSample data from '{table_name}' table:")
    print(df)

# List of table names to verify
tables = ['Categories', 'Competitions', 'Complexes', 'Venues', 'Competitors', 'Competitor_Rankings']

# Display sample data from each table
for table in tables:
    display_table_sample(table)

# Close the connection
conn.close()

Sample data from 'Categories' table:
                    id                               name gender     type  \
0   sr:competition:620                         Hopman Cup  mixed    mixed
1   sr:competition:660                     World Team Cup    men    mixed
2   sr:competition:990         ATP Challenger Tour Finals    men  singles
3  sr:competition:1207  Championship International Series  women  singles
4  sr:competition:2100                          Davis Cup    men    mixed

       category_id category_name
0  sr:category:181    Hopman Cup
1    sr:category:3           ATP
2   sr:category:72    Challenger
3    sr:category:6           WTA
4   sr:category:76     Davis Cup

Sample data from 'Competitions' table:
                    id                               name gender     type  \
0   sr:competition:620                         Hopman Cup  mixed    mixed
1   sr:competition:660                     World Team Cup    men    mixed
2   sr:competition:990         ATP Challenger Tour Finals    men  singles
3  sr:competition:1207  Championship International Series  women  singles
4  sr:competition:2100                          Davis Cup    men    mixed

       category_id category_name
0  sr:category:181    Hopman Cup
1    sr:category:3           ATP
2   sr:category:72    Challenger
3    sr:category:6           WTA
4   sr:category:76     Davis Cup

Sample data from 'Complexes' table:
        complex_id           complex_name        venue_id      venue_name  \
0   sr:complex:705               Nacional  sr:venue:70045  Cancha Central
1  sr:complex:1078  Estadio de la Cartuja  sr:venue:74856    Centre Court
2  sr:complex:1078  Estadio de la Cartuja  sr:venue:74858       Court One
3  sr:complex:1495            Sibur Arena   sr:venue:1496         COURT 1
4  sr:complex:1495            Sibur Arena   sr:venue:1500    CENTER COURT

  city_name country_name country_code          timezone
0      None         None          CHL  America/Santiago
1      None         None          ESP     Europe/Madrid
2      None         None          ESP     Europe/Madrid
3      None         None          RUS     Europe/Moscow
4      None         None          RUS     Europe/Moscow

Sample data from 'Venues' table:
        complex_id           complex_name        venue_id      venue_name  \
0   sr:complex:705               Nacional  sr:venue:70045  Cancha Central
1  sr:complex:1078  Estadio de la Cartuja  sr:venue:74856    Centre Court
2  sr:complex:1078  Estadio de la Cartuja  sr:venue:74858       Court One
3  sr:complex:1495            Sibur Arena   sr:venue:1496         COURT 1
4  sr:complex:1495            Sibur Arena   sr:venue:1500    CENTER COURT

  city_name country_name country_code          timezone
0      None         None          CHL  America/Santiago
1      None         None          ESP     Europe/Madrid
2      None         None          ESP     Europe/Madrid
3      None         None          RUS     Europe/Moscow
4      None         None          RUS     Europe/Moscow

Sample data from 'Competitors' table:
   type_id name  year  week gender  rank  movement  points  \
0        2  ATP  2025     6    men     1         0    7530
1        2  ATP  2025     6    men     1         0    7530
2        2  ATP  2025     6    men     3         0    7075
3        2  ATP  2025     6    men     4         0    7055
4        2  ATP  2025     6    men     5         0    6475

   competitions_played         competitor_id            competitor_name  \
0                   22   sr:competitor:49363                Pavic, Mate
1                   22   sr:competitor:51836  Arevalo-Gonzalez, Marcelo
2                   30  sr:competitor:637970              Patten, Henry
3                   28   sr:competitor:14898          Heliovaara, Harri
4                   21   sr:competitor:87690           Thompson, Jordan

    country_name country_code abbreviation
0        Croatia          HRV          PAV
1    El Salvador          SLV          ARE
2  Great Britain          GBR          PAT
3        Finland          FIN          HEL
4      Australia          AUS          THO

Sample data from 'Competitor_Rankings' table:
   type_id name  year  week gender  rank  movement  points  \
0        2  ATP  2025     6    men     1         0    7530
1        2  ATP  2025     6    men     1         0    7530
2        2  ATP  2025     6    men     3         0    7075
3        2  ATP  2025     6    men     4         0    7055
4        2  ATP  2025     6    men     5         0    6475

   competitions_played         competitor_id            competitor_name  \
0                   22   sr:competitor:49363                Pavic, Mate
1                   22   sr:competitor:51836  Arevalo-Gonzalez, Marcelo
2                   30  sr:competitor:637970              Patten, Henry
3                   28   sr:competitor:14898          Heliovaara, Harri
4                   21   sr:competitor:87690           Thompson, Jordan

    country_name country_code abbreviation
0        Croatia          HRV          PAV
1    El Salvador          SLV          ARE
2  Great Britain          GBR          PAT
3        Finland          FIN          HEL
4      Australia          AUS          THO